
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf'), url('https://fonts.googleapis.com/css?family=Roboto') format('truetype');
}

$font-stack: "Roboto", "Roboto-Regular", Arial, Helvetica, sans-serif;

.ref-default {
    direction: ltr;
}

.ref-header {
    @extend .ref-default;
    font-family: $font-stack;
    letter-spacing: 0.25px;
    font-size: 34px;
    font-weight: 400;
    padding: 20px 20px 10px 20px;
}

.ref-subtitle {
    @extend .ref-default;
    font-family: $font-stack;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 400;
}

.ref-body {
    @extend .ref-default;
    font-family: $font-stack;
    letter-spacing: 0px;
    font-size: 24px;
    font-weight: 400;
}

.ref-button {
    @extend .ref-default;
    font-family: $font-stack;
    letter-spacing: 0.75px;
    font-size: 14px;
    font-weight: 500;
}

.ref-caption {
    @extend .ref-default;
    font-family: $font-stack;
    letter-spacing: 0.4px;
    font-size: 12px;
    font-weight: 400;
}

.ref-container {
    @extend .ref-default;
    position: absolute;
    opacity: 1;
    top: 10px;
    max-width: 430px;
    min-width: auto;
    position: fixed;
    right: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    background: #fff;
    font-size: 100%;
    font-style: normal !important;
    overflow: hidden;
    z-index: 2147483647!important;
    box-sizing: content-box !important;
}

.ref-add-code-button {
    @extend .ref-default;
    @extend .ref-button;
    min-height: 46px !important;
    min-width: 230px !important;
    padding: 0 16px !important;
    margin: 0 auto !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border: 0 !important;
    border-radius: 23px !important;
    background: #ED5050 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    outline: none;
    position: relative;
    cursor: pointer;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    line-height: 20px !important;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none ;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s !important;
    text-transform: uppercase !important;
}

.ref-option {
    @extend .ref-default;
    @extend .ref-button;
    background-size: 100%;
    text-align: center;
    color: #888;
    cursor: pointer;
    text-decoration: underline !important;
}

.ref-options-container {
    @extend .ref-default;
    text-align: center;
    padding: 5px 0;
}

.ref-description {
    @extend .ref-default;
    @extend .ref-body;
    padding: 20px;
    word-break: break-word;
}



.spinner-container {
    background: #333;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*
  Spinner Style
  */
  $spinner-width: 80px;
  $spinner-height: 80px;
  $spin-time: 2s;
  $spinner-color: rgb(0, 0, 0);
  .spinner {
      display: inline-block;
    position: relative;
    vertical-align: middle;
      width: $spinner-width;
      height: $spinner-height;
      &:before, &:after {
          display: inline-block;
      content:"";
      position:absolute;
          background: $spinner-color;
      }
      &:before {
          animation: $spin-time worm1 infinite;
      }
      &:after {
          animation: $spin-time worm2 infinite;
      }
  }
  
  @keyframes worm1 {
      0% {
          top: 0;
          right: $spinner-width/3*2;
          bottom: $spinner-height/3*2;
          left: 0;
      }
      12.5% {
          top: 0;
          right: $spinner-width/3*2;
          bottom: 0;
          left: 0;
      }
      25% {
          top: $spinner-height/3*2;
          right: $spinner-width/3*2;
          bottom: 0;
          left: 0;
      }
      37.5% {
          top: $spinner-height/3*2;
          right: 0;
          bottom: 0;
          left: 0;
      }
      50% {
          top: $spinner-height/3*2;
          right: 0;
          bottom: 0;
          left: $spinner-width/3*2;
      }
      62.5% {
          top: 0;
          right: 0;
          bottom: 0;
          left: $spinner-width/3*2;
      }
      75% {
          top: 0;
          right: 0;
          bottom: $spinner-height/3*2;
          left: $spinner-width/3*2;
      }
      87.5% {
          top: 0;
          right: 0;
          bottom: $spinner-height/3*2;
          left: 0;
      }
      100% {
          top: 0;
          right: $spinner-width/3*2;
          bottom: $spinner-height/3*2;
          left: 0;
      }
  }
  
  @keyframes worm2 {
      0% {
          top: $spinner-height/3*2;
          right: 0;
          bottom: 0;
          left: $spinner-width/3*2;
      }
      12.5% {
          top: 0;
          right: 0;
          bottom: 0;
          left: $spinner-width/3*2;
      }
      25% {
          top: 0;
          right: 0;
          bottom: $spinner-height/3*2;
          left: $spinner-width/3*2;
      }
      37.5% {
          top: 0;
          right: 0;
          bottom: $spinner-height/3*2;
          left: 0;
      }
      50% {
          top: 0;
          right: $spinner-width/3*2;
          bottom: $spinner-height/3*2;
          left: 0;
      }
      62.5% {
          top: 0;
          right: $spinner-width/3*2;
          bottom: 0;
          left: 0;
      }
      75% {
          top: $spinner-height/3*2;
          right: $spinner-width/3*2;
          bottom: 0;
          left: 0;
      }
      87.5% {
          top: $spinner-height/3*2;
          right: 0;
          bottom: 0;
          left: 0;
      }
      100% {
          top: $spinner-height/3*2;
          right: 0;
          bottom: 0;
          left: $spinner-width/3*2;
      }
  }

